p{
    color: purple;
    font-size: 24px;
}
.caixa1{
    /*aqui defino uma class
    */
    /*background-color: red !important;*/
    background: red;
    width: 300px;
    height:300px;
    margin: 10px;
  
}
.caixa2{
    width: 400px;
    height: 250px;
    background: green;
}

.caixa1 p{
    color: aqua;
}

.caixa2 p{
    font-size: 8px;
    color:brown;
    
}

.caixa-especial{
    background: olive;
}

.caixa4, .caixa5{
    width: 400px;
    height: 250px;
    background: orange;
    margin: 10px;

}

.caixa5{
    background-color: beige;
}